[submodule "week-1-assignment-habibullahturkmen"]
	path = week-1-assignment-habibullahturkmen
	url = https://github.com/152-Modanisa-FullStack-Bootcamp/week-1-assignment-habibullahturkmen
[submodule "week-2-assignment-habibullahturkmen"]
	path = week-2-assignment-habibullahturkmen
	url = https://github.com/152-Modanisa-FullStack-Bootcamp/week-2-assignment-habibullahturkmen
[submodule "week-3-assignment-habibullahturkmen"]
	path = week-3-assignment-habibullahturkmen
	url = https://github.com/152-Modanisa-FullStack-Bootcamp/week-3-assignment-habibullahturkmen
